body {
  background: url('https://wallpapercave.com/wp/rHIjD7E.jpg');
  background-size: cover;
  min-height: 100vh;
  display: grid;
  place-items: center;

}


h1{
  font-family: "Playwrite HR", cursive;
  font-size: 40px;
  color: rgba(244, 247, 251, 0.336);
}

input {
  display: block;
  width: 100%;
  boder: none;
  color: white;
  font-family: "Playwrite HR", cursive;
  font-size: 20px;
  background-color: #313133;
  padding: 20px;
  margin-bottom: 20px;
}

button {
  padding: 7px 10px 7px 10px;
  background-color: rgb(99, 209, 215);
  color: black;
  font-family: "Playwrite HR", cursive;
  font-size: 20px;
  width: 100%;
}

ol {
  max-width: 100%;
  background: beige;
  margin-top: 20px;
  font-family: "Playwrite HR", cursive;
  width: 100%;
}